body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.board {
	background-color: grey;
}

button {
	width: 60px;
	height: 60px;
	vertical-align: middle;
	font-size: 30px;
	background-color: lightgrey;
	box-shadow: inset -3px -3px grey, inset 3px 3px white;
	margin: 1px;
	border: 0px;
}

.zero {
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.one {
	color: blue;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}
.two {
	color: green;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.three {
	color: red;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.four {
	color: darkblue;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.five {
	color: maroon;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.six {
	color: turquoise;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.seven {
	color: black;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.eight {
	color: grey;
	background-color: darkgrey;
	box-shadow: 0px 0px;
}

.bomb {
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	font-size: 0px;
	background-color: red;
	box-shadow: 0px 0px;
}

@media only screen and (max-width: 768px) {
	button {
		color: blueviolet;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		font-size: 15px;
	}
}
