body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.board {
	border: 1px solid darkslateblue;
}

button {
	color: blueviolet;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	font-size: 30px;
}

.zero {
	background-color: gray;
}

.bomb {
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	font-size: 0px;
	background-color: red;
}

@media only screen and (max-width: 768px) {
	button {
		color: blueviolet;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		font-size: 15px;
	}
}
