body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@font-face {
  font-family: 'MineSweeper';
  src: local('MineSweeper') format('truetype');
}

.board {
  background-color: grey;
}

.board * {
  font-size: 30px;
  font-weight: bolder;
  font-family: 'MineSweeper';
}

.board button {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin: 1px;
  border: 0px;
}

.square {
  background-color: lightgrey;
  box-shadow: inset -3px -3px grey, inset 3px 3px white;
}

:is(
    .square-0,
    .square-1,
    .square-2,
    .square-3,
    .square-4,
    .square-5,
    .square-6,
    .square-7,
    .square-8
  ) {
  background-color: darkgrey;
  box-shadow: 0px 0px;
}

.square-mine {
  background-color: lightcoral;
  box-shadow: 0px 0px;
}

.square-1 {
  color: blue;
}
.square-2 {
  color: green;
}

.square-3 {
  color: red;
}

.square-4 {
  color: midnightblue;
}

.square-5 {
  color: maroon;
}

.square-6 {
  color: turquoise;
}

.square-7 {
  color: black;
}

.square-8 {
  color: grey;
}

.mine {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.flag {
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  font-size: 32px;
  padding-bottom: 7px;
}

@media only screen and (max-width: 768px) {
  button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    box-shadow: inset -2px -2px grey, inset 2px 2px white;
  }
}
